<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/janda/OneDrive/Documents/TRABAJO/TechMahindra/bootcamp/SampleProject_1">
        <classes>
            <class name="TestCases.TestCasesDemoBlaze">
                <methods>
                    <include name="signUp"/>
                    <include name="logIn"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>